<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card bg-light">
            <div class="card-body">
                <form class="form-inline mx-sm-3">
                    <div class="form-group">
                        <input class="form-control" #heroName placeholder="Hero Name"/>
                    </div>
                    <a class="btn btn-light" (click)="add(heroName.value); heroName.value=''">
                        Add
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <ul class="list-group">
            <li [class.active]="hero === selectedHero" class="list-group-item" *ngFor="let hero of heroes" (click)="onSelect(hero)">
                <span class="badge badge-secondary">{{hero.id}}</span> {{hero.name}}
                <button class="btn btn-sm btn-light float-right" (click)="delete(hero); $event.stopPropagation()">x</button>
            </li>
        </ul>
    </div>

    <div *ngIf="selectedHero" class="col-lg-8 col-md-6 col-sm-12">
        <h2>
            {{selectedHero.name | uppercase}} is my hero
        </h2>
        <a class="btn btn-light" (click)="gotoDetail()">View Details</a>
    </div>

</div>

<div class="row">
    <div class="col">
        <h2>Here are some links to help you start: </h2>
        <ul>
            <li>
                <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
            </li>
            <li>
                <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
            </li>
            <li>
                <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
            </li>
        </ul>
    </div>
</div>
